img:hover {
    opacity: 1;
}

img {
    opacity: 0.5;
    transition: opacity 1s;
}

div input {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 100;
    transition: opacity 1s;
}

footer {
    position: absolute;
    bottom: 0;
}

body {
    overflow: hidden;
}

svg {
    fill: white !important;
}