img:hover,
i:hover {
    opacity: 1;
}

img,
i {
    opacity: 0.5;
    transition: opacity 1s;
    height: auto;
    max-width: 100%;
}

@media (min-width: 768px) {
    img {
        width: 50%;
    }
}

div input {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 100;
    transition: opacity 1s;
}

svg {
    fill: white !important;
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 1s;
    margin-top: 1.5rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#brand,
#time span {
    font-family: Quicksand;
}

footer p {
    font-family: Raleway;
}